@page
@model EditTeacherModel
@{
    ViewData["Title"] = "Rediger Lærer";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
@if (HttpContext.Request.Cookies["UserID"] != "0" && HttpContext.Request.Cookies["UserStatus"] == "false" && Model.TeacherID == Convert.ToInt32(HttpContext.Request.Cookies["UserID"]))
{
    <div class="card">
        <form method="post" asp-page-handler="Save">
            @foreach (var i in Model.Institutions)
            {
                if (i.InstitutionID == Model.Teacher.InstitutionID)
                {
                    <p> <b>Institution:</b> <br />@i.Location.City</p>
                    <input type="hidden" asp-for="InstitutionID" name="InstitutionID" value="@i.InstitutionID" />
                }
            }
            <p> <b> Fornavn:</b> <br /><input type="text" asp-for="FirstName" name="FirstName" value="@Model.Teacher.FirstName" /></p>
            <p> <b> Efternavn:</b> <br /><input type="text" asp-for="LastName" name="LastName" value="@Model.Teacher.LastName" /></p>
            <p> <b> Email:</b> <br /><input type="text" asp-for="Email" name="Email" value="@Model.Teacher.Email" /></p>
            <p> <b> Timer:</b> <br />@Model.Teacher.WeeklyHours.TotalHours </p>
            <input type="hidden" asp-for="WeeklyHours" name="WeeklyHours" value="@Model.Teacher.WeeklyHours.TotalHours" />
            <p> <b> Har Bil?:</b> <br /><input type="text" asp-for="HasCar" name="HasCar" value="@Model.Teacher.HasCar" /></p>
            <p>
                <b>Addresse: </b> <br />
                <label for="Location Selection"></label>
                <select id="Location" name="Lokation" required>
                    @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
                    {
                        if (Model.Teacher.Address.City == institution.Location.City)
                        {
                            <option value="@institution.InstitutionID" selected>@institution.Location.City</option>
                            @* <input type="hidden" asp-for="Location" name="Location" value="@institution.InstitutionID"/> *@
                        }
                        else
                        {
                            <option value="@institution.InstitutionID">@institution.Location.City</option>
                        }
                    }
                </select>
            </p>
            <input type="hidden" name="TeacherID" asp-for="TeacherID" value="@Model.Teacher.TeacherID" required />
            <input type="submit" value="Gem" />
        </form>
    </div>
}
else
{
    <div class="card">
        <form method="post" asp-page-handler="Save">
            <p>
                <b> Institution:</b> <br />
                <label for="Institution Selection"></label>
                <select id="InstitutionID" name="InstitutionID" selected="@Model.Teacher.InstitutionID" required>
                    @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
                    {
                        if (Model.Teacher.InstitutionID == institution.InstitutionID)
                        {
                            <option value="@institution.InstitutionID" selected>@institution.Location.City</option>
                        }
                        else
                        {
                            <option value="@institution.InstitutionID">@institution.Location.City</option>
                        }
                    }
                </select>
            </p>
            <p> <b> Fornavn:</b> <br />@Model.Teacher.FirstName"</p>
            <input type="hidden" asp-for="FirstName" name="FirstName" value="@Model.Teacher.FirstName" />
            <p> <b> Efternavn:</b> <br />@Model.Teacher.LastName"</p>
            <input type="hidden" asp-for="LastName" name="LastName" value="@Model.Teacher.LastName" />
            <p> <b> Email:</b> <br />@Model.Teacher.Email"</p>
            <input type="hidden" asp-for="Email" name="Email" value="@Model.Teacher.Email" />
            <p> <b> Timer:</b> <br /><input type="text" asp-for="Hours" name="Hours" value="@Model.Teacher.WeeklyHours.TotalHours" /></p>
            <p> <b> Har bil?:</b> <br />@Model.Teacher.HasCar" </p>
            <input type="hidden" asp-for="HasCar" name="HasCar" value="@Model.Teacher.HasCar" />
            <p>
                <b>Addresse: </b> <br />
                @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
                {
                    if (Model.Teacher.InstitutionID == institution.InstitutionID)
                    {
                        @institution.Location.City
                        <input type="hidden" asp-for="Location" name="Location" value="@institution.InstitutionID" />
                    }
                }
            </p>
            <input type="text" name="AdminIDs" asp-for="AdminIDs" value="@Model.AdminIDs" required />
            <input type="hidden" name="TeacherID" asp-for="TeacherID" value="@Model.Teacher.TeacherID" required />
            <input type="submit" value="Gem" />
        </form>
    </div>
}
<div class="card">
    <form method="post" asp-page-handler="Create">
        Lære:
        <select id="TeacherID" name="TeacherID" required>
            <option value="@Model.Teacher.TeacherID">@Model.Teacher.Email</option>
        </select>
        Rejse Til Institut:
        <select id="InstitutionToID" name="InstitutionToID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                <option value="@institution.InstitutionID">@institution.Location.City</option>
            }
        </select>
        Rejse Fra Institut:
        <select id="InstitutionFromID" name="InstitutionFromID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                <option value="@institution.InstitutionID">@institution.Location.City</option>
            }
        </select>
        <input type="submit" value="Create" />
    </form>
</div>
@foreach (Zealand_LoMaS_Lib.Model.Transport transport in Model.Transports)
{
    <div class="card">
        <h1>
            Transport fra @Model.Institutions.First(a=>a.InstitutionID==transport.InstitueToID).Location.City
            til @Model.Institutions.First(a => a.InstitutionID == transport.InstitueFromID).Location.City
        </h1>
        <div>
            <p>Pris: @transport.TransportCost</p>
            <p>Tid: @transport.TransportHours</p>
        </div>
        <div>
            <!--This button runs the OnPostShow method and defines a temporary booking id we can send over -->
            <form method="post" asp-page-handler="EditTransport">
                <!--to the next page -->
                <input type="hidden" name="TempTransportID" asp-for="TempTransportID" value="@transport.TransportID" />
                <input type="submit" value="Open Transport" />
            </form>
        </div>
    </div>

}