@page
@model EditRelationsModel
@{
    ViewData["Title"] = "Transport";
}
<link rel="stylesheet" href="~/css/OurDefeault.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>

<div class="card">
    <form method="post" asp-page-handler="Save">
        <p>Institutions: @Model.Institution1.Location.City
       , @Model.Institution2.Location.City</p>
        <input type="hidden" asp-for="ID1" name="ID1" value="@Model.Ids[0]">
        <input type="hidden" asp-for="ID2" name="ID2" value="@Model.Ids[1]">
        <p> <b> Cost:</b> <br /><input type="number" asp-for="Cost" name="Cost" value="@Model.TheRelation.Cost" /></p>
        <p> <b> Minutes:</b> <br /><input type="number" asp-for="TimeMinute" name="TimeMinute" value="@Model.TheRelation.Time.Minutes" /></p>
        <p> <b> Hours:</b> <br /><input type="number" asp-for="TimeHours" name="TimeHours" value="@Model.TheRelation.Time.Hours" /></p>
        <input type="submit" value="Save" />
    </form>
</div>

