@page
@model EditTeacherModel
@{
    ViewData["Title"] = "Transports";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<div class="card">
    <form method="post" asp-page-handler="Edit">
        <label for="Institution Selection"></label>
        <select id="InstitutionID" name="InstitutionID" selected="@Model.Teacher.InstitutionID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                if (Model.Teacher.InstitutionID == institution.InstitutionID)
                {
                    <option value="@institution.InstitutionID" selected>@institution.Location.City</option>
                }
                else
                {
                    <option value="@institution.InstitutionID">@institution.Location.City</option>
                }
            }
        </select>
        <input type="Text" name="FirstName" asp-for="FirstName" value="@Model.Teacher.FirstName" required />
        <input type="Text" name="LastName" asp-for="LastName" value="@Model.Teacher.LastName" required />
        <input type="Text" name="Email" asp-for="Email" value="@Model.Teacher.Email" required />
        <input type="Text" name="Hours" asp-for="Hours" value="@Model.Teacher.WeeklyHours.TotalHours" required />
        <input type="Text" name="HasCar" asp-for="HasCar" value="@Model.Teacher.HasCar" required />
        <label for="Location Selection"></label>
        <select id="Location" name="Location" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                if (Model.Teacher.InstitutionID == institution.InstitutionID)
                {
                    <option value="@institution.InstitutionID" selected>@institution.Location.City</option>
                }
                else
                {
                    <option value="@institution.InstitutionID">@institution.Location.City</option>
                }
            }
        </select>
        <input type="number" name="AdminIDs" asp-for="AdminIDs" value="@Model.Teacher.AdminIDs" required />
        <input type="hidden" name="TeacherID" asp-for="TeacherID" value="@Model.Teacher.TeacherID" required />
        <input type="submit" value="Edit" />
    </form>
    <p>@Model.Teacher.InstitutionID</p>
</div>
