@page
@model IndexModel
@{
	ViewData["Title"] = "Log-in";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />

@if (HttpContext.Request.Cookies["UserID"] != "0" && HttpContext.Request.Cookies["UserStatus"] == "true")
{
	<div class="text-center">
		<h1 class="display-1">Velkommen @Model.Admin.FirstName @Model.Admin.LastName </h1>
	</div>
	<div class="card container">
		<div class="d-flex justify-content-between">
			<div class="stat p-2">
				<h2>Bruger Information <br /></h2>
				<p> <b> Email:</b> <br />@Model.Admin.Email</p>
				<p>
					<b> Institutions:</b>
					@foreach (var i in Model.Institutions)
					{
						if (i.AdminIDs.Contains(Model.Admin.AdministratorID))
						{
							<br />
							@i.Location.City
						}
					}
				</p>
				<div class="d-flex justify-content-between">
					<form method="post" asp-page-handler="EditAdminProfile" class="btn padding-none">
						<input class="no-border" type="submit" value="Edit Profile" />
					</form>
					<span onclick="document.getElementById('ChangeAdminPassword').style.display='block'">
						<button class="btn">Ændre Password</button>
					</span>
					<div class="modal" id="ChangeAdminPassword">
						<div class="modal-content" display="none">
							<span onclick="document.getElementById('ChangeAdminPassword').style.display='none'" class="btn-close display-topright"></span>
							<h1>Ændre Password</h1>
							<form method="post" asp-page-handler="ChangeAdminPassword">
								<input type="password" asp-for="Pass" name="Pass" value="" required />
								<input type="password" asp-for="Pass2" name="Pass2" value="" required />
								<input type="submit" value="Ændre" />
							</form>
							@if (Model.FailedToChangePass == true)
							{
								<div class="alert alert-danger" role="alert">
									Passwords matcher ikke
								</div>
							}
						</div>
					</div>
					@if (Model.ChangePasswordModalShow == true)
					{
						<script>
							document.getElementById("ChangeAdminPassword").style.display="block"

						</script>
					}
				</div>
			</div>
			<div class="stat p-2">
				<h2>Opret Teacher</h2>
				<span onclick="document.getElementById('CreateTeacher').style.display='block'">
					<button class="btn">Opret Teacher</button>
				</span>
				<div class="modal text-center" id="CreateTeacher">
					<div class="modal-content" display="none">
						<span onclick="document.getElementById('CreateTeacher').style.display='none'" class="btn-close display-topright"></span>
						<h1>Opret Teacher</h1>
						<form method="post" asp-page-handler="CreateTeacher">
							<p>
								<b>Institution: </b> <br />
								<label for="Institution Selection"></label>
								<select id="InstitutionID" name="InstitutionID" required>
									@foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
									{
										<option value="@institution.InstitutionID">@institution.Location.City</option>
									}
								</select>
							</p>
							<p class=""> <b> Fornavn: </b> <br /><input type="text" asp-for="FirstName" name="FirstName" placeholder="Fornavn" required /></p>
							<p> <b> Efternavn: </b> <br /><input type="text" asp-for="LastName" name="LastName" placeholder="Efternavn" required /></p>
							<p> <b> Email: </b> <br /><input type="text" asp-for="Email" name="Email" placeholder="Email" required /></p>
							<p> <b> Ugentlige timer: </b> <br /><input type="text" asp-for="WeeklyHours" name="WeeklyHours" placeholder="Ugentlige timer" required /></p>
							<p> <b> Har bil?: </b> <br /><input type="Text" name="HasCar" asp-for="HasCar" value="true/false" required /> </p>
							<p>
								<b>Addresse</b> <br />
								<label for="Location Selection"></label>
								<select id="Location" name="Lokation" required>
									@foreach (var institution in Model.Institutions)
									{
										<option value="@institution.InstitutionID">@institution.Location.City</option>
									}
								</select>
							</p>
							<input type="hidden" name="AdminIDs" asp-for="AdminIDs" value="@Convert.ToInt32(HttpContext.Request.Cookies["UserID"])" required />
							<input type="submit" value="Opret" />
						</form>
					</div>
				</div>
			</div>
			<div class="stat p-2">
				<h2>Opret Administrator</h2>
				<span onclick="document.getElementById('CreateAdmin').style.display='block'">
					<button class="btn">Opret Admin</button>
				</span>
				<div class="modal text-center" id="CreateAdmin">
					<div class="modal-content" display="none">
						<span onclick="document.getElementById('CreateAdmin').style.display='none'" class="btn-close display-topright"></span>
						<h1>Opret Admin</h1>
						<form method="post" asp-page-handler="CreateAdmin">
							<p class=""> <b> Fornavn: </b> <br /><input type="text" asp-for="FirstName" name="FirstName" placeholder="Fornavn" required /></p>
							<p> <b> EfterNavn: </b> <br /><input type="text" asp-for="LastName" name="LastName" placeholder="EfterNavn" required /></p>
							<p> <b> Email: </b> <br /><input type="email" asp-for="Email" name="Email" placeholder="Email" required /></p>
							<p>
								<b>Institution: </b> <br />
								<label for="Institution Selection"></label>
								<select id="InstitutionID" name="InstitutionID" required>
									@foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
									{
										<option value="@institution.InstitutionID">@institution.Location.City</option>
									}
								</select>
							</p>
							<input type="submit" value="Opret" />
						</form>
					</div>
				</div>
			</div>
			<div class="stat p-2">
				<h2>Opret institut</h2>
				<span onclick="document.getElementById('CreateInstitute').style.display='block'">
					<button class="btn">Opret Institut</button>
				</span>
				<div class="modal text-center" id="CreateInstitute">
					<div class="modal-content" display="none">
						<span onclick="document.getElementById('CreateInstitute').style.display='none'" class="btn-close display-topright"></span>
						<h1>Opret Institut</h1>
						<form method="post" asp-page-handler="CreateInstitute">
							<p class=""> <b> Institutets Region: </b> <br /><input type="text" asp-for="InstituteRegion" name="InstituteRegion" placeholder="Institutets Region" required /></p>
							<p> <b> Institutets By: </b> <br /><input type="text" asp-for="InstituteCity" name="InstituteCity" placeholder="Institutets By" required /></p>
							<p> <b> Institutets Postnummer: </b> <br /><input type="number" asp-for="InstitutePostal" name="InstitutePostal" placeholder="Institutets Postnummer" required /></p>
							<p> <b> Institutets Vejnavn: </b> <br /><input type="text" asp-for="InstituteRoadName" name="InstituteRoadName" placeholder="Institutets Vejnavn" required /></p>
							<p> <b> Institutets Vejnummer: </b> <br /><input type="text" asp-for="InstituteRoadNumber" name="InstituteRoadNumber" placeholder="Institutets Vejnummer" required /></p>
							<input type="submit" value="Opret" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<div class="stat p-2">
				<h2>Lav ny lektion<br /></h2>
				<span onclick="document.getElementById('CreateAClass').style.display='block'">
					<button class="btn">Opret Lektion</button>
				</span>
				<div class="modal text-center" id="CreateAClass">
					<div class="modal-content" display="none">
						<span onclick="document.getElementById('CreateAClass').style.display='none'" class="btn-close display-topright"></span>
						<h1>Opret lektion</h1>
						<form method="post" asp-page-handler="CreateAClass">
							<p class=""> <b> Asnvarlig læres ID: </b> <br /><input type="number" asp-for="TeacherID" name="TeacherID" placeholder="Ansvarlig LæreID" required /></p>
							<p> <b> Tilhørende instituts ID: </b> <br /><input type="number" asp-for="InstitutionID" name="InstitutionID" placeholder="Tilhørende institut" required /></p>
							<p> <b> Tilhørende Administrators ID: </b> <br /><input type="number" asp-for="AdminID" name="AdminID" placeholder="Tilhørende Administrators ID" required /></p>
							<p> <b> Lektionens starttidspunkt: </b> <br /><input type="datetime" asp-for="ClassStart" name="ClassStart" placeholder="Lektions starttidspunk" required /></p>
							<p> <b> Lektionens Sluttidspunkt: </b> <br /><input type="datetime" asp-for="ClassDuration" name="ClassDuration" placeholder=" Lektionens Sluttidspunkt" required /></p>
							<p> <b> Lektionens Emne: </b> <br /><input type="text" asp-for="ClassSubject" name="ClassSubject" placeholder=" Lektionens Emne" required /></p>
							<p> <b> Lektionens Beskrivelse: </b> <br /><input type="text" asp-for="ClassDescription" name="ClassDescription" placeholder=" Lektionens Beskrivelse" required /></p>
							<input type="submit" value="Opret" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1> Lærere </h1>
	<table class="table">
		<tbody>
			<tr>
				<th> Institution </th>
				<th> navn </th>
				<th> Email </th>
				<th> Ugentlige timer </th>
				<th> Bil </th>
				<th> Addresse </th>
				<th> Administratorer </th>
				<th> Rediger </th>
				<th> Fjern </th>
			</tr>
			@foreach (var T in Model.Teachers)
			{
				<tr>
					<td>
						@foreach (var I in Model.Institutions)
						{
							if (I.InstitutionID == T.InstitutionID)
							{
								<p> @I.Location.RoadName @I.Location.RoadNumber, @I.Location.City </p>
							}
						}
					</td>
					<td> @T.FirstName @T.LastName </td>
					<td> @T.Email </td>
					<td> @T.WeeklyHours.TotalHours </td>
					<td> @T.HasCar </td>
					<td> @T.Address.RoadName @T.Address.RoadNumber, @T.Address.City </td>
					<td>
						@foreach (var admin in T.AdminIDs)
						{
							foreach (var Admin in Model.Admins)
							{
								if (admin == Admin.AdministratorID)
								{
									<p> @Admin.FirstName @Admin.LastName </p>
								}

							}
						}
					</td>
					<td>
						<form method="post" asp-page-handler="EditTeacher" class="btn padding-none">
							<input type="hidden" asp-for="TeacherID" value="@T.TeacherID">
							<input class="no-border" type="submit" value="Rediger">
						</form>
					</td>
					<td>
						<form method="post" asp-page-handler="DeleteTeacher" class="btn padding-none">
							<input type="hidden" asp-for="TeacherID" value="@T.TeacherID">
							<input class="no-border" type="submit" value="Fjern">
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<h1>Institutions</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>By</th>
				<th>Postnummer</th>
				<th>Vej</th>
				<th>Administratorer</th>
				<th>Region</th>
				<th>Rediger</th>
				<th>Fjern</th>
			</tr>
			@foreach (var institution in Model.Institutions)
			{
				<tr>
					<td>@institution.Location.City</td>
					<td>@institution.Location.PostalCode</td>
					<td>@institution.Location.RoadName @institution.Location.RoadNumber</td>
					<td>
						@foreach (var admin in institution.AdminIDs)
						{
							foreach (var Admin in Model.Admins)
							{
								if (admin == Admin.AdministratorID)
								{
									<p> @Admin.FirstName @Admin.LastName </p>
								}
							}
						}
					</td>
					<td>@institution.Location.Region</td>
					<td>
						<form method="post" asp-page-handler="EditInstitution" class="btn padding-none">
							<input type="hidden" asp-for="InstitutionID" value="@institution.InstitutionID">
							<input class="no-border" type="submit" value="Rediger">
						</form>
					</td>
					<td>
						<form method="post" asp-page-handler="DeleteInstitution" class="btn padding-none">
							<input class="no-border" type="submit" value="Fjern">
							<input type="hidden" asp-for="InstitutionID" value="@institution.InstitutionID">
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<h1> </h1>
	<h1> Administratorer </h1>
	<table class="table">
		<tbody>
			<tr>
				<th>Institutioner</th>
				<th>Navn</th>
				<th>Email</th>
				<th>Rediger</th>
				<th>Fjern</th>
			</tr>
			@foreach (var T in Model.Admins)
			{
				<tr>
					<td>
						@foreach (var I in T.InstitutionIDs)
						{
							@foreach (var i in Model.Institutions)
							{
								if (I == i.InstitutionID)
								{
									<p> @i.Location.RoadName @i.Location.RoadNumber, @i.Location.City </p>
								}
							}
						}
					</td>
					<td>@T.FirstName @T.LastName</td>
					<td>@T.Email</td>
					<td>
						<form method="post" asp-page-handler="EditAdminProfile" class="btn padding-none">
							<input type="hidden" asp-for="AdminID" value="@T.AdministratorID" />
							<input class="no-border" type="submit" value="Rediger" />
						</form>
					</td>
					<td>
						<form method="post" asp-page-handler="DeleteAdmin" class="btn padding-none">
							<input type="hidden" asp-for="AdminID" value="@T.AdministratorID" />
							<input class="no-border" type="submit" value="Fjern" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<form method="post" asp-page-handler="LogOut">
			<input type="submit" value="Log ud" />
		</form>
	</div>
}
else if (HttpContext.Request.Cookies["UserID"] != "0" && HttpContext.Request.Cookies["UserStatus"] == "false")
{

	<div class="text-center">
		<h1 class="display-1">Velkommen @Model.Teacher.FirstName @Model.Teacher.LastName </h1>
		<div class="card container">
			<div class="d-flex justify-content-between">
				<div class="stat p-2">
					<h2>Bruger Information <br /></h2>
					<p> <b> Email:</b> <br />@Model.Teacher.Email</p>
					<p> <b> Ugentlige timer:</b> <br />@Model.Teacher.WeeklyHours.TotalHours</p>
					<p> <b> Har Bil?:</b> <br />@Model.Teacher.HasCar</p>
					@if (Model.Teacher.Address != null)
					{
						<p> <b> Addresse:</b> <br />@Model.Teacher.Address.RoadName @Model.Teacher.Address.RoadNumber, @Model.Teacher.Address.City</p>
					}
					@foreach (var i in Model.Institutions)
					{
						if (i.InstitutionID == Model.Teacher.InstitutionID)
						{
							<p> <b>Institutioner:</b> <br />@i.Location.City</p>
						}
					}

					<div class="d-flex justify-content-between">
						<form method="post" asp-page-handler="EditTeacherProfile" class="btn padding-none">
							<input class="no-border" type="submit" value="Rediger Profil" />
						</form>
						<span onclick="document.getElementById('ChangeTeacherPassword').style.display='block'">
							<button class="btn">Ændre Password</button>
						</span>
						<div class="modal" id="ChangeTeacherPassword">
							<div class="modal-content" display="none">
								<span onclick="document.getElementById('ChangeTeacherPassword').style.display='none'" class="btn-close display-topright"></span>
								<h1>Ændre Password</h1>
								<form method="post" asp-page-handler="ChangeTeacherPassword">
									<input type="password" asp-for="Pass" name="Pass" value="" required />
									<input type="password" asp-for="Pass2" name="Pass2" value="" required />
									<input type="submit" value="Ændre" />
								</form>
								@if (Model.FailedToChangePass == true)
								{
									<div class="alert alert-danger" role="alert">
										Passwords matcher ikke
									</div>
								}
							</div>
						</div>
						@if (Model.ChangePasswordModalShow == true)
						{
							<script>
								document.getElementById("ChangeTeacherPassword").style.display="block"

							</script>
						}
					</div>
				</div>
				<div class="stat p-2">
					<h2>Kompetancer <br /></h2>
					@if (Model.Teacher.Competencies != null)
					{
						<p> <b> Email:</b> <br />@Model.Teacher.Email</p>
						<p> <b> Ugentlige timer:</b> <br />@Model.Teacher.WeeklyHours.TotalHours</p>
						<p> <b> har Bil?:</b> <br />@Model.Teacher.HasCar</p>
						<p> <b> Addresse:</b> <br />@Model.Teacher.Address.RoadName @Model.Teacher.Address.RoadNumber, @Model.Teacher.Address.City</p>
						<p> <b>Institution:</b> <br />@Model.Institution.Location.City</p>
					}
					else
					{
						<h1><b>Du mangler kompetancer</b></h1>
					}
					<form method="post" asp-page-handler="EditTeacherCompetencies" class="btn padding-none">
						<input type="submit" value="rediger Profil" class="no-border" />
					</form>
				</div>
				<div class="stat p-2">
					<h2>Kommende lektioner <br /></h2>
					@if (Model.Teacher.ClassIDs != null)
					{
						<p> <b> Email:</b> <br />@Model.Teacher.Email</p>
						<p> <b> Ugentlige timer:</b> <br />@Model.Teacher.WeeklyHours.TotalHours</p>
						<p> <b> Har bil?:</b> <br />@Model.Teacher.HasCar</p>
						<p> <b> Addresse:</b> <br />@Model.Teacher.Address.RoadName @Model.Teacher.Address.RoadNumber, @Model.Teacher.Address.City</p>
						<p> <b>Institution:</b>@Model.Institution.Location.City</p>
					}
					else
					{
						<p>Der er ingen kommende lektioner</p>
					}
					<form method="post" asp-page-handler="EditTeacherClasses" class="btn padding-none">
						<input type="submit" value="Rediger Lektion" class="no-border" />
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-between">

				@foreach (var transport in Model.Transports)
				{
					<div class="stat">
						<h2>Transport fra @Model.Institutions.First(a => a.InstitutionID == transport.InstitueFromID).Location.City
							Til @Model.Institutions.First(a => a.InstitutionID == transport.InstitueToID).Location.City
						</h2>
						<p>@Model.Teacher.FirstName @Model.Teacher.LastName</p>
						<p> <b>Transport Timer: </b> <br />@transport.TransportHours.TotalHours</p>
						<p> <b>Transport Pris: </b> <br />@transport.TransportCost</p>
						<p> <b>Datoen: </b> <br />@transport.TheDate.ToString("dd-MM-yyyy")</p>
					</div>
				}
			</div>
			<form method="post" asp-page-handler="EditTeacher">
				<input type="submit" value="Rediger Profil" />
			</form>
		</div>
	</div>
	<div>
		<form method="post" asp-page-handler="LogOut">
			<input type="submit" value="Log ud" />
		</form>
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-1">LoMaS</h1>
		<form method="post" asp-page-handler="LogIn">
			<div class="mb-3 mt-3">
				<h3 class="display-6">Email</h3>
				<input type="email" asp-for="Email" class="form-label" required />
			</div>
			<div class="mb-3 mt-3">
				<h3 class="display-6">Password</h3>
				<input type="password" asp-for="Pass" class="form-label" required />
			</div>
			<input type="submit" value="Log-in" />
			<h1></h1>
			@if (Model.FailedToLogIn == true)
			{
				<div class="alert alert-danger" role="alert">
					Email eller Password er forkert
				</div>
			}
			@if (Model.FailedToLogIn == false)
			{
				HttpContext.Response.Cookies.Append("UserID", Model.CookieID);
				HttpContext.Response.Cookies.Append("UserStatus", Model.CookieIsAdmin);
			}
			@if (Model.NeedToRefresh == true)
			{
				<script>window.location.reload()</script>
				;
			}
		</form>
	</div>
}
