@page
@model TeacherModel
@{
    ViewData["Title"] = "Transports";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<div class="card">
    <form method="post" asp-page-handler="Create">
        <label for="Institution Selection"></label>
        <select id="InstitutionID" name="InstitutionID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                <option value="@institution.InstitutionID">@institution.Location.City</option>
            }
        </select>
        <input type="Text" name="FirstName" asp-for="FirstName" value="First Name" required />
        <input type="Text" name="LastName" asp-for="LastName" value="Last Name" required />
        <input type="Text" name="Email" asp-for="Email" value="Email" required />
        <input type="Text" name="Hours" asp-for="Hours" value="Weekly Hours" required />
        <input type="Text" name="HasCar" asp-for="HasCar" value="false" required />
        <label for="Location Selection"></label>
        <select id="Location" name="Location" required>
            @for (int i = 0; i< Model.Institutions.Count; i++)
            {
                <option value="@i">@Model.Institutions[i].Location.City</option>
            }
        </select>
        <input type="number" name="AdminIDs" asp-for="AdminIDs" value="AdminID" required />
        <input type="submit" value="Create" />
    </form>
</div>
@foreach (Zealand_LoMaS_Lib.Model.Teacher teacher in Model.Teachers)
{
    <div class="card">
        <h1>
            Teacher Id: @teacher.TeacherID
            @teacher.FirstName @teacher.LastName
        </h1>
        <p>
            @teacher.Email
        </p>
        <form method="post" asp-page-handler="Edit">
            <input type="hidden" name="TeacherID" value="@teacher.TeacherID" />
            <input type="submit" value="Edit" />
        </form>
    </div>

}
