@page
@model TransportsModel
@{
    ViewData["Title"] = "Transports";
}
<link href="~/css/ourdefeault.css" rel="stylesheet" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
<div class="card">
    <form method="post" asp-page-handler="Create">
        Lære:
        <select id="TeacherID" name="TeacherID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Teacher teacher in Model.Teachers)
            {
                <option value="@teacher.TeacherID">@teacher.Email</option>
            }
        </select>
        Rejse Til Institut:
        <select id="InstituteToID" name="InstituteToID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                <option value="@institution.InstitutionID">@institution.Location.City</option>
            }
        </select>
        Rejse Fra Institut:
        <select id="InstituteFromID" name="InstituteFromID" required>
            @foreach (Zealand_LoMaS_Lib.Model.Institution institution in Model.Institutions)
            {
                <option value="@institution.InstitutionID">@institution.Location.City</option>
            }
        </select>
        <input type="submit" value="Create" />
    </form>
</div>
@foreach (Zealand_LoMaS_Lib.Model.Transport transport in Model.Transports)
{
    <div class="card">
        <h1>
            Transport Id: @transport.TransportID
        </h1>
        <div>
            <!--This button runs the OnPostShow method and defines a temporary booking id we can send over -->
            <form method="post" asp-page-handler="Show">
                <!--to the next page -->
                <input type="hidden" name="TempTransportID" asp-for="TempTransportID" value="@transport.TransportID" />
                <input type="submit" value="Open Domicile" />
            </form>
        </div>
    </div>

}
