@page
@model TransportModel
@{
    ViewData["Title"] = "Transport";
}
<link rel="stylesheet" href="~/css/OurDefeault.css" asp-append-version="true" />
<h1>@ViewData["Title"]</h1>
@if (Model.Edit == false)
{
    <div class="card">
        <h1>
            Transport fra @Model.Institutions.First(a => a.InstitutionID == Model.SpecificTransport.InstituteToID).Location.City
            til @Model.Institutions.First(a => a.InstitutionID == Model.SpecificTransport.InstituteFromID).Location.City
        </h1>

        <p>
            TeacherID:@Model.SpecificTransport.TeacherID
        </p>
        <form method="post" asp-page-handler="Delete">
            <input type="hidden" name="TempID" asp-for="TempID" value="@Model.SpecificTransport.TransportID" />
            <input type="submit" value="Delete" />
        </form>
        <div>
            <form method="post" asp-page-handler="Edit">
                <input type="hidden" name="TempID" asp-for="TempID" value="@Model.SpecificTransport.TransportID" />
                <p> <b> Cost:</b> <br /><input type="number" asp-for="Cost" name="Cost" value="@Model.SpecificTransport.TransportCost" /></p>
                <p> <b> Hours:</b> <input type="number" asp-for="TimeHours" name="TimeHours" value="@Model.SpecificTransport.TransportHours.Hours" />
                    <b> Minutes:</b><input type="number" asp-for="TimeMinute" name="TimeMinute" value="@Model.SpecificTransport.TransportHours.Minutes" />
                </p>
                <p> <b> Dato:</b> <br /><input type="date" asp-for="Date" value="@Model.SpecificTransport.TheDate.Date.ToString("yyyy-MM-dd")" /></p>
                <input type="submit" value="Edit" />
            </form>
        </div>
    </div>
}
else if (Model.Edit == true)
{
    <div class="card">
        <form method="post" asp-page-handler="Save">
            
        </form>
    </div>

}